<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Quản lý đơn hàng</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <style>
        body {
            font-family: "Lato", sans-serif;
        }

        .sidenav {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #111;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 60px;
        }

        .sidenav a {
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 25px;
            color: #818181;
            display: block;
            transition: 0.3s;
        }

        .sidenav a:hover {
            color: #f1f1f1;
        }

        .sidenav .closebtn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
        }

        #main {
            transition: margin-left .5s;
            padding: 16px;
        }

        tbody > tr > td {
            padding: 9px;
            height: 30px;
        }

        @media screen and (max-height: 450px) {
            .sidenav {
                padding-top: 15px;
            }

            .sidenav a {
                font-size: 18px;
            }
        }
    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</head>
<body ng-app="MyApp" ng-controller="productController" ng-init="getAll()">
<div id="mySidenav" class="sidenav" ng-app>
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a th:href="@{/homeAdmin}">Quản lí sản phẩm</a>
    <a th:href="@{/nhaphang}">Tạo phiếu nhập</a>
    <a th:href="@{/quanlidonhang}">Quản lí đơn hàng</a>
    <a th:href="@{/quanlidanhmuc}">Quản lí danh mục</a>
    <a th:href="@{/code}">Quản lí mã giảm giá</a>
    <a th:href="@{/quanlitaikhoan}">Quản lí tài khoản nhân viên</a>
    <!--    <a th:href="@{/quanlidonhang}">Quản lí sale</a>-->
    <a th:href="@{/total}">Thống kê</a>
    <a th:href="@{/logout}">Log out</a>
</div>

<div id="main">

    <div class="row" style="height: 50px;">
        <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Dashboard</span>
    </div>
    <div class="row">

        <div class="container p-6">

            <div class="row p-3">
                <div style="width: 50%;" class="mb-7">
                    <select ng-model="statusChange" ng-change="thaydoi()" class="form-control" id="sel1">
                        <option value="1">Đơn hàng chờ xác nhận</option>
                        <option value="2">Đơn hàng đang đợi gửi</option>
                        <option value="3">Đơn hàng đang gửi</option>
                        <option value="4">Đơn hàng hoàn thành</option>
                    </select>
                </div>
                <div ng-if="1==status" style="margin-top: 20px; margin-bottom: 20px">
                    <h2>Đơn hàng đang chờ xác nhận</h2>
                    <p>Đơn hàng được khách đặt mua và đang trong thời gian đợi nhân viên xác nhận , click xác nhận để xác
                        nhận đơn hàng</p>
                </div>

                <div ng-if="2==status" style="margin-top: 20px; margin-bottom: 20px">
                    <h2>Đơn hàng đã được xác nhận và đang đợi gửi đi</h2>
                    <p>Đây là những đơn hàng đã được nhân viên xác nhận và đóng gói đang đợi gửi, click đã gửi khi đã
                        gửi hàng đi</p>
                </div>

                <div ng-if="3==status" style="margin-top: 20px; margin-bottom: 20px">
                    <h2>Đơn hàng đã được gửi đi và đợi khách hàng thanh toán</h2>
                    <p>Đây là những đơn hàng đã được nhân viên gửi hàng đi , click vào hoàn thành khi khách đã nhận
                        hàng</p>
                </div>

                <div ng-if="4==status" style="margin-top: 20px; margin-bottom: 20px">
                    <h2>Đơn hàng đã được hoàn thành</h2>
                    <p>Danh sách đơn hàng đã hoàn thành !!!</p>

                </div>

                <div>

                </div>
                <table class="table table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th>Mã phiếu</th>
                        <th>Khách hàng</th>
                        <th>Địa chỉ</th>
                        <th>Sản phẩm</th>
                        <th>Ngày đặt hàng</th>
                        <th>Mã giảm giá</th>
                        <th>Phí giao hàng</th>
                        <th>Thành tiền</th>
                        <th ng-if="1==status">Xác nhận</th>
                        <th ng-if="2==status">Tiến hành gửi</th>
                        <th ng-if="3==status">Hoàn thành</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="quanliPhieu in phieumua">
                        <td>{{quanliPhieu.maPhieu}}</td>
                        <td>{{quanliPhieu.chitietEntity.khach}}</td>
                        <td>{{quanliPhieu.chitietEntity.thongTin}}</td>
                        <td>
                            <div style="margin-bottom: 10px"
                                 ng-repeat="p in quanliPhieu.phieumuaCartsByMaPhieu"><span><img
                                    ng-src="/{{p.cartByCart.productSizeColorEntity.anh}}"
                                    style="width: 50px;height: 50px;margin-right: 10px"></span>
                                <span>{{p.cartByCart.productSizeColorEntity.sanPham}}</span></div>
                        </td>
                        <td>{{quanliPhieu.dateFormat}}</td>
                        <td>{{quanliPhieu.codeByCode.code}}</td>
                        <td>{{quanliPhieu.chitietEntity.phiShip}}</td>
                        <td>{{quanliPhieu.thanhToan}}</td>
                        <td ng-if="1 == status || 2 == status || 3 == status"><i class='fas fa-arrow-alt-circle-right'
                                                                                 ng-click="xacthuc(quanliPhieu.maPhieu)"
                                                                                 style='font-size:30px;color:blue'></i>
                        </td>


                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>

</div>


<!-- find scrip angular-->
<script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
        document.getElementById("main").style.marginLeft = "250px";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
        document.getElementById("main").style.marginLeft = "0";
    }

    var app = angular.module('MyApp', []);

    app.controller('productController', function ($scope, $http) {
        $scope.phieumua = null;
        $scope.status = 1;
        $scope.getAll = function () {
            $http.get("/apiphieumua/phieumua/" + $scope.status).then(function (result) {
                $scope.phieumua = result.data.data;
            })
        }
        $scope.xacthuc = function (key) {
            $http.get("/apiphieumua/phieumua/xacthuc/" + $scope.status + "/" + key)
                .then(function (result) {
                    swal({
                        title: result.data.message,
                        icon: "success",
                    })
                    $scope.phieumua = result.data.data;
                })
        }
        $scope.thaydoi = function () {
            $scope.status = $scope.statusChange;
            $scope.getAll();
            console.log($scope.status);

        }


    });
</script>

</body>
</html>